<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product Picture</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Store</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item[:image_url] %></td>
        <td><%= item[:name] %></td>
        <td>SGD <%= item[:price] %></td>
        <td><%= item[:store] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
